* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUSE", sans-serif;
  color: var(--text-color); 
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --primary-color: #192626;
  --secondary-color: #f8f9ff;
  --bg-color: #5eafaf;
  --bg-color2: hsla(180, 21%, 12%, 0.2);
  --text-color: #243030;
  --transition: 0.2s linear;
  --error-color: #fb6969;
  --glow: 0px 0px 16px 1px #1926262f;
  
}

.container {
  background: url("./assets/Lines.svg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("./assets/Simple-gradient-background\ \(Compressed\).png");
  background-size: cover;
  position: absolute;
  z-index: -1;
}

/* Dashboard */
.dashboard {
  text-align: center;
  color: var(--secondary-color);
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.dashboard h1 {
  color: var(--secondary-color);
  font-size: 3rem;
}

.dashboard .join {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  align-self: center;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all var(--transition);
  text-decoration: none;
}

.dashboard .join:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  align-self: center;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 0.9rem;
  cursor: pointer;
}

/* Sign In & Sign Up */
.form-content {
  width: 30%;
  background-color: var(--secondary-color);
  padding-block: 30px;
  border-radius: 10px;
  display: flex;
  gap: 1.2rem;
}

.form-content h1 {
  text-align: center;
}

form {
  width: 100%;
  border-top: 1px solid var(--bg-color2);
  border-bottom: 1px solid var(--bg-color2);
  padding: 20px;
  gap: 1.4rem;
  display: flex;
  flex-direction: column;
}

form label {
  display: inline-block;
  margin-left: 0.8rem;
  margin-bottom: 2px;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 40px;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
  background-color: transparent;
}

form input::placeholder {
  color: hsla(180, 21%, 12%, 0.4);
}

form #registerBtn,
form #loginBtn {
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 40px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-block: 20px;
  transition: all var(--transition);
}

form #registerBtn:hover,
form #loginBtn:hover {
  box-shadow: var(--glow);
}

form #message {
  color: var(--error-color);
  font-size: 0.9rem;
  display: none;
  margin-top: 5px;
}

form #message::before {
  content: "*";
}

h3 {
  color: var(--secondary-color);
  font-weight: 200;
  font-size: 1.1rem;
  margin-top: 10px;
}

.container > h3 a {
  color: var(--secondary-color);
}

.container > h3 a:hover {
  --secondary-color: rgb(202, 202, 202);
  color: var(--secondary-color);
}
